body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #b4b8b3;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.information-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: #4182cc;
}

.job {
    font-size: 80px;
    color: #00274C;
}

.photo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.photo img {
    width: 400px;
    clip-path: circle(35% at 50% 50%);
}

.arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #00274C;
    border-right: 5px solid #00274C;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.about-me-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f3e8eeff;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-picture {
    display: flex;
    justify-content: right;
    align-items: center;
}

.about-me h1 {
    font-size: 30px;
    font-weight: bold;
    color: #00274C;
}

.about-me p {
    font-size: 20px;
    color: #343A40;
}
