body {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #272d2dff;
    height: 100dvh;
}

.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.job {
    font-size: 40px;
    color: #51a3a3ff;
}

.photo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.photo img {
    width: 400px;
    clip-path: circle(35% at 50% 50%);
}
