html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.specialites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.section-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12dvh ;
    margin: 10dvh 10dvw;
    padding: 2rem;
    height: auto;
}

.specialites > footer {
    margin-top: auto;
}

